body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #141415;

}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}


body .container {
    max-width: 1240px;
}

row{
    margin: unset;
}

p {
    margin-bottom: unset !important;
}

/* __________ Navbar __________ */

.logo {
    height: 50px;
    width: 170px;
}

.navbar {
    background: #141415;
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.navbar .container {
    padding: 5px !important;
    background: #141415;
}

.nav-link {
    font-size: 17px !important;
    font-weight: 200 !important;
    color: white !important;
}

.nav-link:hover {
    color: #146ef5 !important;
}

.navbar-nav {
    gap: 20px;
}

.connect-button {
    padding: 10px 20px;
    background-color: #146ef5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.connect-button:hover {
    background: white;
    color: #146ef5;
}

/* __________ Banner Content __________ */
.main-wrapper {
    text-align: center;
    background-color: #141415;
    background-image: url("./images/techzenicBgImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner-content .container .container-left .text {
    font-size: 60px;
    color: white;
    text-align: left;
    font-weight: 700;
    padding-block: 50px;
}

.container-right-text {
    font-size: 20px;
    color: #FAFAFA99;
    text-align: left;
    padding-top: 70px;
}

.container-right-btn {
    display: flex;
    padding-block: 20px;
}

.main-banner-content .container .banner-img img{
    border-radius: 8px;
}

/* __________ Our Services __________ */
.our-services-main {
    padding-top: 50px;
}

.our-services-main-header p {
    color: #0561fd;
}

.our-services-main-header h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.our-services-main-header h6 {
    color: #FAFAFA99;
    padding-block: 20px;
    padding: 20px 350px;
    font-weight: 400;
    font-size: 18px;
}


.our-services-main-content {
    padding-block: 50px;
    display: flex;
    justify-content: space-between;
}

.our-services-main-content .service-item {
    background: #1d1f20;
    padding: 30px;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.service-item-button {
    padding-block: 20px;
}

.service-item-button .connect-button {
    padding: 15px 20px;
    background-color: #141415;
}

.our-services-main-content .service-item h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.our-services-main-content .service-item p {
    font-size: 1rem;
    color: #FAFAFA99;
}

.our-services-main-content .service-item img {
    width: 40px;
}

/* __________ Our Products __________ */
.our-products {
    padding-top: 50px;
    margin-block: 50px;
}

.our-products-header {
    text-align: center;
}

.our-products-header p {
    color: #0561fd;
}

.our-products-header h1 {
    font-size: 50px;
    color: #1d1f20;
    text-align: center;
    font-weight: 600;
}

.our-products-header h6 {
    color: #1e1e24b3;
    padding-block: 20px;
    padding: 20px 350px;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
}

.our-products-main {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
}

.our-products-main .product-item {
    background: #fafafc;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    width: 30%;
}


.our-products-main .product-item .product-item-title{
    color: #0561fd;
    font-weight: 600;
}
.our-products-main .product-item .product-item-title span{
    color: #141415;
}
.our-products-main .product-item .product-item-subtitle {
    color: #1e1e24b3;
}



/* __________ Our Solution __________ */
.our-solutions {
    padding-top: 50px;
    background: #fafafc;
}

.our-solutions-header {
    text-align: center;
}

.our-solutions-header p {
    color: #0561fd;
}

.our-solutions-header h4 {
    font-size: 30px;
    color: #1d1f20;
    text-align: center;
    font-weight: 600;
}

.our-solutions-header h6 {
    color: #1e1e24b3;
    padding-block: 20px;
    padding: 20px 350px;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
}

.our-solutions-main {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-solutions-main .solution-item {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    width: 30%;
}


.our-solutions-main .solution-item .solution-item-title{
    color: #0561fd;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.our-solutions-main .solution-item .solution-item-title span{
    color: #14141561;

}
.our-solutions-main .solution-item .solution-item-subtitle {
    color: #1e1e24b3;
}
.our-solutions-main .solution-item .solution-item-list {
    padding: 20px;
}
.our-solutions-main .solution-item .solution-item-list li{
    padding-block: 5px;
}

/* __________ Got a Project Section__________ */

.got-project-tab{
    background: #141415;
    padding: 50px;
    background-image: url("./images/gotProjectBgImg.jpg");
}

.got-project-tab .left-div{
    padding-block: 20px;
}
.got-project-tab .left-div h1{
    padding-block: 20px;
    color: white;
}
.got-project-tab .left-div p{
    padding-bottom: 20px;
    color: #FAFAFA99;
}
.got-project-tab .right-div{
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.got-project-tab .right-div .values{
    text-align: center;
    color: white;
}
.got-project-tab .right-div .values p{
    text-align: center;
    color: #FAFAFA99;
}

/* __________ Bottom Content __________ */

.bottom-content{
    background: #141415;
}

/* __________ Indutries __________ */
.industries {
    padding-block: 50px;
    margin-block: 50px;
}

.industries-header {
    text-align: center;
    padding-bottom: 50px;
}

.industries-header p {
    color: #0561fd;
}

.industries-header h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.industries-header h6 {
    color: #FAFAFA99;
    padding-block: 20px;
    padding: 20px 350px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.industries-card {
    height: 300px;
}
.industries-card h3{
    color: white;
    font-size: 30px;
    padding: 50px 50px 10px 50px;
}
.industries-card p{
    color: white;
    font-size: 15px;
    padding: 10px 50px 10px 50px;
}
.industries-card .connect-button{
    margin: 10px 50px 10px 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
}
.industries-card .connect-button:hover{
    margin: 10px 50px 10px 50px;
    background-color: #ffffff;
    color: #141415;
}

.healthcare{
    background-image: url("./images/healthcare.jpg") , linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.finance{
    background-image: url("./images/finance.jpg") , linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.techStartups{
    background-image: url("./images/startups.jpg") , linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.ecommerce{
    background-image: url("./images/ecommerce.jpg") , linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.content-gap{
    border-top: 1px solid #fafafa14;
}

/* __________ FAQ __________ */

.faq{
    padding-block: 50px;
}
.faq-left{
    padding: 60px;
}
.faq-left p{
    color: #0561fd;
}
.faq-left h1{
    color: white;
}
.faq-left h6{
    color: #FAFAFA99;
    padding-block: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.accordion{
    --bs-accordion-bg: #1d1f20 !important;
    --bs-accordion-border-color:unset !important;
    --bs-accordion-active-bg : #1d1f20 !important;
    --bs-accordion-icon-color :#ffffff !important;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button{
    --bs-accordion-active-color:#ffffff !important; 
    --bs-accordion-btn-color:#ffffff !important;
    font-weight: 600;
}
.accordion-item{
    color: white !important;
    border : unset !important

}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
}
.accordion-body{
    color:#FAFAFA99
}


.contact-form{
    background-color: #0561fd;
    border-radius: 6px;
    padding: 50px !important;
}
.contact-form .header{
    text-align: center;
}
.contact-form .header h1{
    text-align: center;
    color: white;
}

.contact-form .header p{
    text-align: center;
    color: #FAFAFA99;
    padding: 0px 200px 0px 200px;
}
.contact-form-content{
    padding: 80px 250px;
}
.form-control-lg::placeholder{
    font-size: 16px !important;
}
/* Footer Styling */
footer {
    background-color: #141415;
    color: #f0f0f0;
    padding: 80px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
    position: relative;
    margin-left: 50px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 30px;
    height: 2px;
    background-color: #0561fd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #b0b0b0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #0561fd;
}

.footer-section ul li a i {
    margin-right: 5px;
    color: #0561fd;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: #0561fd;
    transform: translateY(-3px);
}

.newsletter h5 {
    margin-bottom: 12px;
    color:#FAFAFA99;
}

.newsletter form {
    display: flex;
}

.newsletter input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.newsletter button {
    background-color: #0561fd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: #0561fd;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #333;
    position: relative;
}

.back-to-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #0561fd;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: #0561fd;
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 20px;
    }

    .footer-section {
        margin-bottom: 30px;
    }

    .back-to-top {
        right: 10px;
        bottom: 10px;
    }
}




/* __________ Logo Slider __________ */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.logo-slider {
    padding-block: 50px;
    background-color: #141415;
}

.partners-logo-slider {
    height: 170px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 16px 0px;
    .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .sliderTitle {
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .slide {
        height: 80px;
        width: 250px;
        filter: grayscale(100%);
    }

    .slide:hover {
        filter: grayscale(0%);
    }
}

/* __________ Video Player __________ */

.video-player {
    text-align: center;
    background-image: url("./images/sierra-saas-video-bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    /* Ensure the correct path */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}

.video-player-content {
    padding-top: 300px;
    padding-bottom: 300px;
    margin: unset;
    padding-right: 200px;
    padding-left: 200px;
    color: white;
    font-size: 50px;
}

.video-player-content-text {
    color: white;
    font-size: 50px;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #eb2055; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7F7F7;
    border-radius: 50%;
    animation: pulse-border 1100ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7F7F7;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 19px solid black;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    top: 10px;
    left: 5px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
    color: #333;
    margin: 0;
}

.icon {
    margin: 0 5px;
    color: #A2CC45;
}

.section {
    background-color: #EDF5E1;
    padding: 60px 20px;
    text-align: center;
}

.section nav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.section nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #8D8D8D;
    font-weight: 600;
    font-size: 18px;
}

.section nav a.active {
    color: #333;
    font-weight: bold;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.section-text {
    max-width: 50%;
    font-size: 1.125rem;
    line-height: 1.6;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.section-image {
    max-width: 45%;
}

.section-image img {
    width: 100%;
}

.know-more-button {
    background-color: #A2CC45;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.vertical-experts {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.vertical-experts h2 {
    font-size: 2.5rem;
    color: #4A4A4A;
    font-weight: 700;
    margin-bottom: 40px;
}

.expert-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.expert-item {
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.expert-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.expert-item p {
    font-size: 1rem;
    color: #4A4A4A;
}

.expert-item img {
    width: 40px;
}

.hiring-section {
    background-color: #f0f4f8;
    text-align: center;
    padding: 50px 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hiring-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.hiring-section p {
    font-size: 1.125rem;
    color: #555;
}

@media (max-width: 768px) {
    main h1 {
        font-size: 2rem;
        padding: 0 10px;
    }

    .connect-button {
        margin-top: 20px;
        padding: 10px;
    }

    .section-content {
        flex-direction: column;
    }

    .section-text,
    .section-image {
        max-width: 100%;
        text-align: center;
    }

    .section-image {
        margin-top: 30px;
    }

    .expert-container {
        flex-direction: column;
    }

    .expert-item {
        width: 80%;
    }
}

@media (max-width: 575.98px){
    nav {
        display: none;
    }
    .nav-connect-btn{
        display: none !important;
    }
    .navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
   }

    .connect-button {
        margin: 0;
        text-align: center;
    }
    .main-banner-content .container .container-left .text {
        font-size: 60px;
        padding-block: 20px;
    }
    .container-right-text {
        padding-top: 10px;
    }
    .main-banner-content .container .banner-img img{
        margin-block: 50px;
        max-width: 350px;
    }

    .video-player-content{
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .video-player-content-text{
        font-size: 20px;
    }
    .video-play-button:before{
        width: 50px;
        height: 50px;
    }
    .video-play-button:after{
        width: 50px;
        height: 50px;
    }

    .our-services-main-header h6 {
        padding:30px;
    }
    .our-services-main-content {
        display: inline-block;
    }
    .our-services-main-content .service-item{
        width: 100%;
    }
    .our-products-header h6 {
        padding: 20px;
    }
    .our-products-main .product-item {
        width: 100%;
    }
    .got-project-tab .left-div h1{
        padding: unset;
    }
    .our-solutions-header h6 {
        padding: 20px;
    }
    .our-solutions-main .solution-item{
        width: 100%;
    }
    .industries-header h6{
        padding: 20px;
    }
    .industries .row{
        padding-right: unset !important;
        padding-left: unset !important;
        margin-right: unset !important;
        margin-left: unset !important;
    }
    .industries-card{
        height: fit-content;
    }
    .faq-left{
        padding: 10px;
    }
    .faq-left h1{
        padding:unset;
        margin: unset;
    }
    .contact-form .header p{
        padding: 10px;
    }
    .contact-form-content{
        padding: 10px;
    }
    .footer-section h3 {
        margin-left: 0px;
    }
    
    .footer-section ul {
        margin-left:0px;
    }


}